header.header.box-shadow
  .header__container.grid-container
    .header__inner.grid-x.grid-padding-x.grid-padding-y.align-middle
      .header__col.cell.small-4
        .header__logo.logo
          img.logo__img(src="./assets/img/content/logo.png", alt="")
      .header__col.cell.auto
        .header__phone.grid-x
          .header__phone-icon.cell.small-4
            .header__phone-icon-container
              a.text-14.bold(href="tel:+7 (999) 123-45-56")
                img.phone(src="./assets/img/content/phone.png", alt="")
          .cell.auto.grid-x.align-middle
            .header__phone-info-container
              .header__phone-info-top
                span.text-12 тел. 
                a.text-14.bold(href="tel:+7 (999) 123-45-56") +7 (999) 123-45-56
              .header__phone-info-bot
                a.text-14.link-primary.underline.modal-1-open(href="javascript:void(0)") Заказать звонок
