mixin icon(name,width,height,fill,mod)
  if(mod)
    svg(style="width:"+width +"; height:"+height +";" class="svg-sprite-icon icon-" + name + ' ' + mod)
      use(xlink:href="./assets/img/svg/sprite.svg#" + name)
  else
    svg(style="width:"+width +"; height:"+height +";" class="svg-sprite-icon icon-" + name)
      use(xlink:href="./assets/img/svg/sprite.svg#" + name)

mixin link(href, name)
  //- attributes == {class: "btn"}
  a(class!=attributes.class href=href)= name


mixin cards(imgs, name, price)
  each val, index in imgs
    .tabs-content__slide.swiper-slide
      .tabs-content__slide-price
        p.slide-price= price[index]
        p рублей
      .tabs-content__slide-img
        img(src="", alt="")
      .tabs-content__slide-descr
        .slide-descr__title
          p= name[index]
        .slide-descr__button
          a.slide-btn(href="javascript:void(0)") Узнать подробнее